* {
  margin: 0;
  padding: 0;
}

/* font style  one*/

.noto-serif {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  /* font-weight: 700; */
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

/* font style  tow*/
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

/* header section  */

.header-container {
  margin: 0 auto;
}

/* navbar setion  */
.navbar {
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.nav-item li {
  list-style: none;
  margin-right: 50px;
  font-weight: 300;
}
.nav-item li a {
  text-decoration: none;
  color: black;
}

.home {
  font-weight: bold;
}
.image-title {
  margin-top: 150px;
  justify-content: space-between;
  align-items: end;
}

.title-description {
  max-width: 580px;
  align-content: center;
}

.fresh-title {
  font-size: 4rem;
  margin-bottom: 13px;
}
.color-text {
  color: #e95a08;
}

/* shared style  */
.container {
  max-width: 90%;
  margin: 0 auto;
}

.display-flex {
  display: flex;
}

.description {
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.5);
}

.btn {
  background-color: #e95a08;
  color: white;
  width: 100%;
  border: none;
  padding: 10px 0;
}

.shop-now-btn {
  border: none;
  background: none;
  color: white;
  font-weight: 600;
}

/* main section start here  */
.title-card-container {
  width: 100%;
  overflow: hidden;
  margin-top: 100px;
  margin-bottom: 200px;
}

.our-title-desc {
  text-align: center;
  margin-bottom: 50px;
}

.card-title {
  font-size: 2rem;
  margin-bottom: 10px;
}

/* card section style  */

.card-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin: 0 auto;
  place-content: center;
  padding: 0 15px;
}

.card {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.flower-title {
  font-weight: 500;
}

.price {
  font-weight: bold;
}

.flower-lover-section {
  margin-top: 120px;
}

.store-title {
  position: relative;

  justify-content: center;
  gap: 20px;
}
.store-photo {
  height: auto;
}
.flower-lover-title-desc {
  width: 30%;
  margin-top: 50px;
}
.flower-lover-title-desc ul li {
  margin-bottom: 10px;
  font-weight: 400;
}
.flower-lover-title-desc ul {
  margin-left: 20px;
}
.flower-lover-title {
  font-size: 3rem;
  margin-top: 20px;
}

.badge img {
  width: 280px;
  height: 280px;
}
.badge {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* challagne part start here */

.challenge-part {
  margin-top: 120px;
}

.box-container {
  margin: 0 auto;
  display: flex;
  gap: 20px;
}
.flower-one {
  width: 300px;
  height: 200px;
  background-image: url(assets/deal-bloom.png);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flower-two {
  width: 300px;
  height: 200px;
  background-image: url(assets/deal-ana.png);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flower-three {
  width: 80%;
  height: auto;
  background-image: url(assets/deal-zabo.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.zabo-title {
  font-size: 2.8rem;
}
.zabo-title-link {
  font-size: 1.5rem;
  margin-top: 10px;
}
.content-box {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.btn-text {
  color: white;
  text-align: center;
}

/* input btn container start here */
.input-btn-container {
  text-align: center;
  margin-top: 120px;
  width: 100%;
  height: 530px;
  background-image: url(assets/news-letter-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.email-submit-content {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 0;
}
.title-btn {
  width: 80%;
  margin: 0 auto;
}

.bunch-title {
  color: white;
  font-size: 1.8rem;
}

.email {
  width: 600px;
  padding: 12px;
  border: none;
}
.submit {
  width: 200px;
  background-color: #e95a08;
  color: white;
  font-weight: 600;
  border: none;
}

/* footer section start here  */
.footer-section {
  width: 100%;
  height: 350px;
  align-content: center;
  background-color: rgba(255, 255, 255, 0.5);
}

.footer-section-content {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-items: center;
  margin: 0 auto;
}

.footer-list ul {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.footer-list li {
  list-style: none;
}
.footer-list li a {
  text-decoration: none;
  color: rgba(107, 114, 128, 1);
}

/* icon contianer  */
.icon-contianer {
  display: flex;
  align-self: flex-start;
  gap: 20px;
}

.icon-contianer img {
  width: 30px;
}

/* responsive design start here  */

@media screen and (max-width: 576px) {
  .container {
    max-width: 100%;
  }
  /* responsive shared style for all description  */
  .for-all-description {
    font-size: 0.8rem;
  }

  /* navbar or header responsive  */
  .nav-item li {
    display: none;
  }
  .navbar img {
    height: 40px;
  }

  .image-title {
    flex-direction: column-reverse;
    margin-top: 50px;
  }
  .banner-img {
    width: 100%;
  }

  .fresh-title {
    font-size: 1.8rem;
  }
  .title-description {
    padding: 10px;
  }

  /* card section  */
  .our-title-desc {
    padding: 5px;
  }

  .title-card-container {
    margin-top: 50px;
    margin-bottom: 30px;
  }

  .card {
    gap: 0px;
  }

  .card-section {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  /* img and badge section  */
  .flower-lover-section {
    width: 90%;
    margin: 0 auto;
  }

  .badge {
    display: none;
  }

  .store-title {
    flex-direction: column;
  }
  .store-photo img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
  }
  .flower-lover-title {
    font-size: 1.8rem;
    margin-bottom: 16px;
  }
  .flower-lover-title-desc {
    width: 100%;
  }

  .box-container {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .content-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .flower-one,
  .flower-two,
  .flower-three {
    width: 90%;
    background-size: cover;
  }
  .flower-three {
    height: 200px;
  }
  .flower-three h2 {
    font-size: 1.8rem;
  }

  /* title input btn section  */
  .input-btn-container {
    max-width: 100%;
  }
  .email {
    width: 200px;
  }
  .submit {
    width: 100px;
  }
  .bunch-title {
    font-size: 1.3rem;
  }

  /* footer section  */

  .footer-section-content {
    max-width: 100%;
    margin-top: 20px;
    grid-template-columns: repeat(1, 1fr);
    place-items: start;
  }
  .footer-second {
    margin-top: 20px;
  }
  .icon-contianer {
    margin-top: 20px;
  }
}
